body {
    background-image: url(image/Skyline.gif);
    font: 16px arial, sans-serif;
}

ul {
    list-style: none;
    padding: 0;
}

.container {
    width: 800px;
    margin: auto;
    background-color: red;
}

.header {
    padding-left: 30px;
}

.header ul li {
    display: inline-block;
    margin-top: -10px;
    margin-right: 20px;
}

.header a {
    text-decoration: none;
    color: aqua;
    font-weight: bold;
}

.heade a:hover {
color: red;
background-color: aqua;
padding: 10px;
border-radius: 15px;
}

.banner {
    height: 300px;
    background-image: url(image/shinegraffix_com.jpeg);
    background-position: 765px 350px;
    border-top: 5px solid gray;
    border-bottom: 5px solid gray;
}

.isi {
    padding: 15px;
    border-bottom: 5px solid gray;